ul{ 
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f1f1f1;
}
li {
	float: left;
}
li a {
	
	display: block; 
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #555; 
	color: white;
}
h1 {
	text-align: center;
}
h2 {
	
}
#log_in{
	display: inline-block;
	float: right;

}
#username_input{
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  
}
#password_input{
  padding: 12px 20px;
  margin: 8px 0;
  display:block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  }
#create_account{
	position: absolute;
	right: 5%;
	top: 85%;
	display: block;
}
#sign_in{
	right: 1%;
	position: absolute;
	top: 35%;
	
}
#log_in_message{
	position: absolute;
	top: -15%;
	right: 5%;
}
body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("images/sign_in.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bg2 {
  /* The image used */
  background-image: url("images/create_acc.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.center_form {
	margin: auto;
	position: relative;
}
.middle_center {
		
	padding: 30px 75px;	
	position: relative;
	top: 30%;
	left: 20%;
	width: 50%;
	text-align: center;
	border: solid 3px black;
}
.table_form{
	display: inline-block;
}

.boldtable, .boldtable td, .boldtable th { 
font-family: sans-serif; 
font-size: 20pt; 
color: black ; 
 
}
.boldtable table {
	border-collapse: separate;
  	border-spacing: 0 15px;
	width: 50%;
	position: absolute;
	left: 28%;
}
.boldtable td, .boldtable th {
	background-color: #657b8a;
}
.boldtable{
	position: relative;	
}
.boldtable img{
	height: 30%;
	width: 30%;
}

.report {
	width: 50%;
}

.report th {
	background-color: #636261;
}
.report tr:nth-child(even) {
	background-color: #657b8a;
}
#tableDivSport{
	position: relative;
	top: 10px;
	left: 55%;
	 
}
#tableDivBoulder{
	position: relative;
	top: 10px;
	left: 55%;
}
#tableDivSpeed{
	position: relative;
	top: 10px;
	left: 55%;
}
.zoom {
	
	transition: transform .2s;
	padding: 10px;
	display: table-cell;
	width: 30%;		
	/* The image used */
 

  	/* Full height */
	height: 100%;
  	/* Center and scale the image nicely */
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: 80% 100%;
	
}
.zoom:hover {
	transform: scale(1.1);
}
.zoom img{
		
}
.zoom a {
	display: block;
        
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
	
}
.center_div{
	margin: auto;
	width: 50%;
	height: 100%;
}
